# dependencies
node_modules/
codex/


# build files
dist/
build/

# environment files
.env
production.env

# logs
*.log


# system files
.DS_Store
Thumbs.db

firebase-service-account.json
.codex


./ai-service

# github workflows (only if you DON'T want to push workflows)
.github/workflows/node.js.yml

# local image processing utility
backend/services/property-service/src/utils/imageProcessing.ts
