# dependencies
node_modules/
codex/


# build files
dist/
build/

# environment files
.env
production.env

# logs
*.log


# system files
.DS_Store
Thumbs.db

firebase-service-account.json
.codex


./ai-service



backend/services/property-service/uploads/documents/*
backend/services/property-service/uploads/videos/*
